.contact-container {
  width: 100%;
  height: 60rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: #393939;
}

.details-container {
  padding-top: 5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.details-container h1 {
  padding: 1rem 0;
  font-size: 2.5rem;
  font-weight: 200;
}

.details-container h3 {
  font-size: 1.2rem;
  font-weight: 200;
}

.form-content-right {
  padding: 5rem;
  width: 100%;
  height: 100%;
  display: flex;
}

.form {
  padding: 2rem;
  height: 52rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.form-header, form h2, form label {
  color: black;
}

.form h1 {
  margin-bottom: 2rem;
  font-weight: 300;
  text-align: center;
}

.form h2 {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.06rem;
}

.form hr {
  margin-bottom: 1rem;
}

.form select {
  padding: 0.2rem;
}

.form input, .form select {
  margin-bottom: 0.7rem;
}

.form input, .form textarea {
  padding: 0.5rem;
}

.form input, .form select, .form textarea {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
}

.form textarea {
  margin-bottom: 0.5rem;
  resize: none;
}

.form label, .form select, .form textarea, .form input, .form-input-btn {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
}

.form-input-btn {
  width: 4rem;
  height: 2rem;
  border: none;
}

.err-message {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.06rem;
  color: red;
}

.form-success {
  padding: 2rem;
  height: 50rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-weight: 300;
  background-color: white;
}

@media screen and (max-width: 1350px) {

  .details-container h1 {
  font-size: 2rem;
}

.details-container h3 {
  font-size: 1rem;
}

.form {
  padding: 2rem;
  height: 50rem;
  width: 36rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.form-success {
  padding: 2rem;
  height: 50rem;
  width: 36rem;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  background-color: white;
}

.form-header {
  font-size: 2rem;
}

.form-header, form h2, form label {
  color: black;
}

.form h1 {
  margin-bottom: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.form h2 {
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.06rem;
}

.form hr {
  margin-bottom: 1rem;
}

.form select {
  padding: 0.2rem;
}

.form input, .form select {
  margin-bottom: 0.5rem;
}

.form input, .form textarea {
  padding: 0.5rem;
}

.form label, .form select, .form textarea, .form input, .form-input-btn {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 0.9rem;
}
}

@media screen and (max-width: 1000px) {
.details-container {
  padding-top: 5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.contact-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #393939;
}

.info {
  height: 15rem;
}

.hours {
  height: 15rem;
}

.form {
  margin: 0 auto;
  padding: 2rem;
  height: 50rem;
  width: 36rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.form-success {
  margin: 0 auto;
  padding: 2rem;
  height: 50rem;
  width: 36rem;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  background-color: white;
}

.form-content-right {
  padding: 5rem;
  width: 100vw;
  height: 100%;
  display: flex;
}
}

@media screen and (max-width: 780px) {
  .details-container {
  padding-top: 3rem;
  flex-direction: column;
  justify-content: space-between;
}

.form-content-right {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: magenta;
}

.details-container h1 {
  font-size: 1.5rem;
}

.details-container h3 {
  font-size: 0.9rem;
}

.form {
  margin: 0;
  height: 35rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.form-success {
  margin: 0 auto;
  padding: 2rem;
  height: 50rem;
  width: 36rem;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  background-color: white;
}

.form-header {
  font-size: 1.8rem;
}

}